body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
}

.main-container {
    width: 100%;
    margin: auto;
    overflow: hidden;
    height: 100%;
}

.first-section {
    position: relative;
    width: 70%;
    padding: 20px;
    background-color: #fff;
    height: 827px;
    overflow: hidden;
    float: left;
}

.second-section {
    display: flex;
    position: relative;
    width: 25%;
    float: right;
    padding: 20px;
    background-color: #fff;
    height: 827px;
    align-items: center;
    justify-content: left;
}

.nav-bar {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-text {
    text-align: left;
    color: #1c1c1c;
    font-weight: bolder;
    font-size: 2.8rem;
}

.menu-category {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    text-decoration: none;
    color: #333;
    display: inline-block;
    cursor: pointer;
    margin-top: 5px;
}

.menu-category:hover {
    font-size: large;
    font-weight: bold;
}

.submenu {
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    display: none;
}

.submenu a {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    text-decoration: none;
    color: #000;
    display: block;
    width: 200px;
}

.submenu a:hover {
    font-weight: bold;
}







.container_delivery {
    float: right;
    width: 40%;
    height: 100%;
    background-color: #fff;
    text-align: left;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.delivery_logo {
    width: 100%;
    height: 60%;
    margin-bottom: 40px;
    object-fit: cover;
}

.contacts_main-text {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    margin-bottom: 15px;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

.policy_buttons {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.policy_btn {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    background: none;
    border: 1px solid #000;
    padding: 5px 10px;
    transition: 0.2s;
}

.policy_btn.active, .policy_btn:hover {
    background-color: #000;
    color: #fff;
}

.policy_text {
    max-height: 600px;
    overflow-y: scroll;
    line-height: 1.6;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 10px;
}

.policy_text::-webkit-scrollbar {
    width: 6px;
}

.policy_text::-webkit-scrollbar-thumb {
    background-color: #1c1c1c;
    border-radius: 3px;
}

.policy_text::-webkit-scrollbar-track {
    background: #f4f4f4;
}

.policy_content {
    display: block;
}
